@inherits UmbracoViewPage<IPublishedContent>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>
    <link rel="stylesheet" href="/common/css/style.css" />
    <script>
        @{
            var theme = Model.OfType<ICompTheme>();
            for (var i = 0; i < theme.Theme.Colors.Count; i++)
            {
                @:var accent@(i+1) = '@theme.Theme.Colors[i].Code';
            }
            for (var i = 0; i < theme.ContrastTheme.Colors.Count; i++)
            {
                @:var cont_accent@(i+1) = '@theme.ContrastTheme.Colors[i].Code';
            }
        }


    </script>
</head>
<body>
    @Html.Partial("~/Views/Shared/Header.cshtml")

    @RenderBody()
    <script src="common/js/main.js"></script>
</body>

</html>