@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;

<section class="container">
    <div class="grid hero">
        <div class="grid-item -full-width">
            <img src="@Model.BackgroundImage.GetCropUrl(height: 400)"/>

            <div class="hero-content">
              <h1>@Model.Title</h1>
              <p>@Model.Summary</p>
              <a class="button" href="@Model.HeroCta.Url">Link</a>
            </div>
        </div>
    </div>

    <div class="grid listing">
      @foreach(var page in Model.Children().OfType<ContentModels.Content>())
      {
        <div class="grid-item -one-quarter">
            <span>@page.Title</span>
            <p>@page.Summary</p>
            <a href="@page.Url" class="button">Link</a>
        </div>
      }
    </div>
</section>